.socialHeader {
    justify-content: end;
}

.logo {
    display: flex;
    align-items: center;
}

.headerActionIcons {
    cursor: pointer;
    font-size: 30px;
    color: #898989;
}

.cartMain {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #1570fab5;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 99;
}

.cartActvieMain {
    visibility: visible;
    opacity: 1;
}

.myCartBox {
    position: absolute;
    top: 0;
    right: -100%;
    width: 450px;
    height: 100%;
    background: #fff;
    transition: all 0.4s ease-in-out;
}

.cartItemActive {
    right: 0;
}

.CartItemHead {
    justify-content: space-between;
}

.clossCart {
    font-size: 29px;
    cursor: pointer;
}

.productClose {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    cursor: pointer;
}

.countingCart {
    display: flex;
    gap: 5px;
}

.countPriceCart {
    display: flex;
    gap: 35%;
}

.bodyForm {
    height: calc(100vh - 165px);
    overflow-y: auto;
}

.cartFooter {
    height: 90px;
}

.checkoutCart {
    width: 100%;
}